
.section_heading {
    width: auto;
    display: block;
    padding: 15px;
    font-size: 20pt;
    text-align: center;
}

.expand_button {
    float: left;
    border: 3px solid black;
    padding: 0px 7px;
    font-size: 15pt;
    font-weight: bold;
}

span.heading {
    font-weight: bold;
    text-decoration: underline;
}

span.lbl {
    display: block;
}

span.lbl b {
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 1px;
    border-radius: 3px;
}
