    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'reports:dashboard' %}">
            <img src="{% static 'mosa_logo.gif' %}" alt="MOSA">
        </a>
    </div>

<nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
                <a class="navbar-item" href="{% url 'certification:operation_search' %}">Certification</a>
                <a class="navbar-item" href="{% url 'inquiries:create' %}">Inquiries</a>
                <a class="navbar-item" href="{% url 'materials:search' %}">Materials</a>
                <a class="navbar-item" href="{% url 'reports:index' %}">Reporting</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-icon-left">
                        <span class="icon"><i class="fa fa-user-circle is-size-5"></i></span>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="{% url 'reports:profile' %}">Profile</a>
                        <a class="navbar-item" href="{% url 'reports:logout' %}">Logout</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item has-icon-right" href="#">
                            Report an issue&nbsp;
                            <span class="icon is-right"><i class="fa fa-question-circle"></i></span>
                        </a>
                    </div>
                </div>
        </div>
        <!-- <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link has-icon-left">
                    <span class="icon"><i class="fa fa-user-circle is-size-5"></i></span>
                </a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="{% url 'reports:profile' %}">Profile</a>
                    <a class="navbar-item" href="{% url 'reports:logout' %}">Logout</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item has-icon-right" href="#">
                        Report an issue&nbsp;
                        <span class="icon is-right"><i class="fa fa-question-circle"></i></span>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</nav>

    <section class="section">
        <div class="container">
            {% block top %}{% endblock %}
            {% block content %}{% endblock %}
            {% block bottom %}{% endblock %}
        </div>
    </section>

</div> <!-- end wrapper -->

<footer class="footer has-background-primary">
    <div class="content has-text-centered">
        <span class="has-text-weight-light has-text-light is-size-4">
            <span class="icon"><i class="fa fa-sun"></i></span>
            <br>
            Cybele
        </span>
    </div>
</footer>

</body>
</html>